body{
    background: #f7f7f7;
    font-family: Verdana;
}

#title, .subtitle, .post_title{
    color: #505050;
}

#title{
    font-size: 40px;
    text-transform: uppercase;
}

a{
    text-decoration: line-through;
    color: #505050;
}

a:hover{
    color: #505050;
    background-color: aqua;
}

.header_image{
    border: 1px solid #505050;
    border-radius: 60px;
}
.post_title{
    font-size: 16px;
    font-style: italic;
    margin: 0px;
    margin-bottom: 15px;
}
.post_image{
    margin: 0px;
    margin-bottom: 15px;
}
.post{
    background: white;
    padding: 15px;
    border: 3px solid #505050;
    margin: 15px;
    border-radius: 15px;
}
.post_content{
    margin: 0px;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.contacts_list{
    list-style-type: none;
    padding-left: 30px;

}
.contacts_list li a{
    text-decoration: none;
}